<div class="parallax-window" data-parallax="scroll" data-image-src="<%= @festival.main_image.url %>">
  <div class="row">
    <div class="medium-12 columns">
      <h2><%= @festival.title %></h2>
    </div>
  </div>
</div>
<dl class="sub-nav">
  <div class="row">
    <dd><%= @festival.city %>, <%= @festival.location %></dd>
    <dd><%= @festival.festival_date %></dd>
    <dd><%= link_to "Tickets", @festival.tickets %></dd>
    <dd><%= link_to "Website", @festival.website %></dd>
    <% if !current_user.voted_up_on? @festival %>
    <dd class="active right"><%= link_to "Favourite", like_festival_path(@festival.id), method: :post %></dd>
    <% else %>
    <dd class="active right"><%= link_to "Unfavourite", dislike_festival_path(@festival.id), method: :delete %></dd>
    <% end %>
    <% if current_user.admin %>
    <dd class="right"><%= link_to "Edit Festival", edit_festival_path %></dd>
    <% end %>
  </div>
</dl>
<div class="row">
  <h3>Info</h3>
  <p><%= @festival.description %></p>
</div>
<div class="parallax-window" data-parallax="scroll" data-image-src="<%= @festival.second_image.url %>">
</div>
<div class="row">
  <h3>Travel</h3>
  <p><%= @festival.transport %></p>
</div>
<div class="parallax-window" data-parallax="scroll" data-image-src="<%= @festival.third_image.url %>">
</div>
<div class="row">
  <h3>Accommodation</h3>
  <p><%= @festival.accommodation %></p>
</div>

<%= render partial: 'comments/form', locals: { commentable: @festival } %>
<%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @post } %>



